body {
    font-family: 'OpenSans';
    background-color:rgb(235, 233, 230);
    user-select: none;
}
h1 {
    font-family: 'Manrope';
    color: rgb(26, 83, 83);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.logo__pic {
    width: 50%;
}