@font-face {
    font-family: 'OpenSans';
    src: url('fonts/Open-Sans.woff') format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/Open-Sans-bold.woff') format(woff);
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope.woff') format(woff);
    font-weight: 400;
    font-style: normal;
}